<div class="container">
<div class="row">
	<div id="add-div">
		<p><center><h1 id="add">Add a Topic</h1></center></p>
	</div>
</div>
<div class="row" id="sub-form">
<form class="col s12" id="topic" method="POST" type="post" action="/create-topic/create" class="task">
		<div class="input-field col s12" id="create-topic-dropdown">
	        <select name="SubjectId" id="SubjectId" required method="POST" action="/create-topic/create" value="" >
	          <option value="" disabled selected>Select</option>
	          		{{#each subject}}
	          <option name="SubjectId" id="SubjectId" value="{{this.id}}" method="POST" action="/create-topic/create">{{this.subject_name}}</option>
	          		{{/each}}
	        </select>
	      <label>Subject</label>
	    </div>


        <div class="input-field col s12" >
            <input  name="topic_name" placeholder="Topic" id="topic_name" type="text" method="POST" action="/create-topic/create" value="" >
        </div>

		<div class="input-field col s12">
            <input name="decription" placeholder="Describe this topic in 2-3 sentences." id="topic_name" type="text" wrap="soft" method="POST" action="/create-topic/create" value="">
        </div>

         <button class="btn waves-effect waves-light" type="submit" name="action">Add
        <i class="material-icons right">send</i>
        </button>
   
    </form>
</div>
<script>
    $(document).ready(function() {
    $('select').material_select();
  });
</script>

       <!-- <div class="input-field col s12" id="create-topic-dropdown">
       	  
		    <select>
		      <option value="" disabled selected>Select</option>
		      <option value="1">Option 1</option>
		      <option value="2">Option 2</option>
		      <option value="3">Option 3</option>
		    </select>
		    <label>Select the Subject</label>
	  </div> -->

	  	<!-- <div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    <li><a href="#">HTML</a></li>
		    <li><a href="#">CSS</a></li>
		    <li><a href="#">JavaScript</a></li>
		  </ul>
		</div> -->