<div class="container">
<div class="row">
<p><center><h1>Add Content<h1></center></p>
    <div>
        <h5 class="text-center">Add media to a topic below.</h5>
    </div>

</div>
<div class="row">
<form class="col s12" id="links" method="POST" action="/create-links" class="task">

    <div class="input-field col s12" id="create-topic-dropdown">
        <select name="type" required method="POST" action="/create-links" value="" >
          <option value="" disabled selected>Select</option>
          {{#each topic}}
          <option value="Article" >{{this.topic_name}}</option>
          {{/each}}
        </select>
      <label>Topic</label>
    </div>
            
    <!-- <div class="input-field col s12" id="create-topic-dropdown"> -->
        
        <!-- <select>
          <option value="" disabled selected>Choose your option</option> -->
            <!-- {{#each subject}} -->
                <!-- <option value="" method="POST" action="/create-links">test 12 {{this.subject_name}}</option> -->
            <!-- {{/each}} -->

          <!-- <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option> -->
        <!-- </select> -->
    <!-- <label>Select the Topic</label> -->
  <!-- </div> -->

  <div class="input-field col s12" id="create-topic-dropdown" >
        <select name="type" required method="POST" action="/create-links" value="" >
          <option value="" disabled selected>Select</option>
          <option value="Article" >Article</option>
          <option value="Video">Video</option>
          <option value="Book">Book</option>
        </select>
    <label>Type of Media</label>
  </div>

    <!-- <div class="input-field col s12" >
        <input  name="type" placeholder="Your link type" id="type" type="text" method="POST" action="/create-links" value="" >
    </div> -->

    <div class="input-field col s12" >
        <input  name="title" placeholder="Title" id="title" type="text" method="POST" action="/create-links" value="" >
    </div>

    <div class="input-field col s12" >
        <input  name="url" placeholder="URL" id="url" type="text" method="POST" action="/create-links" value="" >
    </div>

    <!-- <div class="input-field col s12">
        <input name="TopicId" placeholder="TopicID" id="TopicId" type="text" method="POST" action="/create-links" value="">
        </div> -->

     


     <button class="btn waves-effect waves-light" type="submit" name="action">Add
    <i class="material-icons right">send</i>
    </button>
</form>


<script>
    $(document).ready(function() {
    $('select').material_select();
  });
</script>