

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">
            <h1> libreo </h1>
        </div>
   </div>
</div>


<div class = "row">
   <div class="col-sm-2">
       <div class="collection">
   
</div>
   </div>

{{#each subject}}
    <a href="#!" class="collection-item">{{this.subject_name}}</a>

{{/each}}
</div>