<div class="banner">
	<p> Libreo mission statement</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">
            
        </div>
   </div>

    <div class = "row">
        <div class="col-sm-2">
            <div class="collection" id="field1">
                <h3>Technology</h3>
            </div>
            <div class="collection" id="field2">
                <h3> Arts + Humanities</h3>
            </div>
            <div class="collection" id="field2">
                <h3> Business</h3>
            </div>
        </div>

        {{#each subject}}
            <a href="/subject" class="collection-item">{{this.subject_name}}</a>
        {{/each}}
    </div>
</div>



