
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">

            <a class="navbar-brand" href="/logout">
                Logout
            </a>

        </div>
    </div>
</div>




  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3>Welcome!  <span class="member-name"></span> </h3>
      </div>
    </div>

      <a href="/" class="waves-effect waves-light btn"> click to continue </a>
  </div>



  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>




