<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			
			<!-- <h1> libreo </h1> -->

		</div>
	</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h2 class="text-center" id="signup-header">Sign Up</h2>
            <form method="post" action="/signup" class="signup">
              <div class="signup-div">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name="email"type="email" class="form-control" id="email-input" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="password" type="password" class="form-control" id="password-input" placeholder="">
                </div>
                <button type="submit" class="btn btn-default">Sign Up</button>
              </div>
            </form>
            <br />
            <p>Or log in <a href="/login">here</a></p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="./public/js/signup.js"></script>
