
<main>
	<div class="banner2">
		<h1>
			{{#each subject}}
				{{this.subject_name}}</h1>
			{{/each}}
		</h1>
	</div>
	<nav id="breadcrumbs">
		    <div class="nav-wrapper">
		      <div class="col s12">
	
		        <a href="#!" class="breadcrumb">
		        	{{#each subject}}
						{{this.field_name}}</h1>
					{{/each}}

		        </a>
		        
		        <a href="" class="breadcrumb">
					{{#each subject}}
						{{this.subject_name}}</h1>
					{{/each}}
		        </a>
		      </div>
		    </div>
		</nav>
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
		

		<ul>
			
		  	
		  	{{#each subject}}
			    <li>
			      <p> Topic: {{req.params.topic_name}} </p>
			    </li>
			      
		  	{{/each}}


		</ul>

		<div class="col-xs-12 text-center" id="top-bar">
		</div>
	</div>
</div>
</main>

