<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<img src="/assets/images/book-icon.png" alt="book" id="icon1"/>
			<h1> libreo </h1>
			<p> TOPIC</p>
		</div>
	</div>
</div>