
<main>
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<h1>topic</h1>
		</div>

		<ul>
		  	{{#each topic}}
			    <li>
			      <p>Name: {{this.topic_name}}</p>
			      <p>description: {{this.decription}}</p>
			    </li>
		  	{{/each}}
		</ul>

		<div class="col-xs-12 text-center" id="top-bar">
		</div>
	</div>
</div>
</main>


