body {
  width: 99%;
  height: 900px;
  background-color: #ffffff;
  /* footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Roboto", sans-serif; 
}

nav {
  background-color: #56C7A5 !important;
  font-family: "Roboto", sans-serif; 
}

a {
  font-family: "Roboto", sans-serif; 
}

#icon1{
  width:25%;
}

.collection {
  border-color: none;
}

.subject-cloud {
  margin: 30px;
  margin-top: 20px;
  margin-bottom:20px;
  padding-right:20px;
  font-size: 20px;
  float: right;
  text-align: center;
}

#index-topic-div{
  text-align: center;
}

#index-subject-title {
  text-align: center;
}

.topic-description{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: grey;
}

@media only screen and (min-width : 768px){
  .signup-div {
    width: 400px;
    margin: 0 auto;
  }
}

@media only screen and (max-width : 768px){
  .signup-div {
    width: 75%;
    margin: 0 auto;
  }
}


#nav-mobile {
  margin-top: 20px;
}

main {
  flex: 1 0 auto;
}

.text-center{
  text-align: center;
  margin: 0 auto;
  float: none;
}

.text-left{
  text-align: left;
}

.banner {
  text-align: center;
  padding-top: 45px;
  height: 335px;
  background: none;
  /*background: linear-gradient( 295deg, #3FA288, #37909A 30%, #247D92 65%, #06637F );*/

}

.banner2 {
  text-align: center;
  padding-top: 45px;
  height: 235px;
  background: #3a95b1;
  /*background: linear-gradient( 295deg, #3FA288, #37909A 30%, #247D92 65%, #06637F );*/

}

#signup-header {
  margin-top: 40px;
  margin-bottom: 40px;
}

#breadcrumbs{
  color: black;
  /*box-shadow: none;*/
  height: 40px;
  line-height: 44px;
  background-color: #d39093;
  padding-left: 25px;
}

.page-footer {
  background-color: #2a1f2d !important;
  font-family: "Roboto", sans-serif; 
}


@media (min-width: 993px) {
  #title {
    margin-left: 25px;
  }
}

#top-bar {
  margin-top: 28px;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

input.custInput {
  width: 80px;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#enter_text {
  width: 400px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 38px;
}

.task {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.button-size {
  padding-bottom: 20px;
}

#text-enter-button {
  margin-top: 10px;
  margin-bottom: 18px;
}

h1 {
  color: lightgrey;
  text-align: center;
}

.topic-cloud{

  font-size: 25px;
}
.link-cloud{
  font-size: 20px;
}

.linktype{
  font-size: 20px;
}
.linktitle{
  font-size: 20px;
  text-decoration: underline; 
}
