body {
  width: 99%;
  height: 900px;
  background-color: #ffffff;
  /* footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Roboto", sans-serif; 
}

#icon1{
  width:25%;
}

#nav-mobile {
  margin-top: 20px;
}

main {
  flex: 1 0 auto;
}

.banner {
  text-align: center;
  padding-top: 45px;
  height: 335px;
  background: #3a95b1;
  /*background: linear-gradient( 295deg, #3FA288, #37909A 30%, #247D92 65%, #06637F );*/

}

.banner2 {
  text-align: center;
  padding-top: 45px;
  height: 235px;
  background: #3a95b1;
  /*background: linear-gradient( 295deg, #3FA288, #37909A 30%, #247D92 65%, #06637F );*/

}

#breadcrumbs{
  color: black;
  /*box-shadow: none;*/
  height: 40px;
  line-height: 44px;
  background-color: #d39093;
  padding-left: 25px;
}

@media (min-width: 993px) {
  #title {
    margin-left: 25px;
  }
}

#top-bar {
  margin-top: 28px;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

input.custInput {
  width: 80px;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#enter_text {
  width: 400px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 38px;
}

.task {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.button-size {
  padding-bottom: 20px;
}

#text-enter-button {
  margin-top: 10px;
  margin-bottom: 18px;
}

h1 {
  color: lightgrey;
  text-align: center;
}
